<section class="text-gray-600 body-font">
    <div class="container px-5 py-2 mx-auto">
      <div class="flex flex-wrap w-full  flex-col items-center text-center">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Map Inmmutable</h1>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">The Map object holds key-value pairs and remembers the original insertion order of the keys. Any value (both objects and primitive values) may be used as either a key or a value. </p>
      </div>
      <div class="flex flex-wrap px-4 py-4">

        <!-- Start coding here -->
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-4 py-3">CustomerName</th>
                    <th scope="col" class="px-4 py-3">Total</th>
                    <th scope="col" class="px-4 py-3">Tax</th>
                    <th scope="col" class="px-4 py-3">Delivered</th>

                </tr>
            </thead>
            <tbody>

                @for (item of orders; track $index) {

                    <tr class="border-b dark:border-gray-700">
                        <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{item.customerName}}</th>
                        <td class="px-4 py-3">{{item.total}}</td>
                        <td class="px-4 py-3">--</td>
                        <td class="px-4 py-3">{{item.delivered}}</td>
                    </tr>

                }

                
            </tbody>

            <tr class="border-b dark:border-gray-700">
                <th colspan="4" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white bg-gray-100 text-center"></th>
            </tr>
            
            <tbody>
                @for (item of nOrders; track $index) {

                    <tr class="border-b dark:border-gray-700">
                        <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{item.customerName}}</th>
                        <td class="px-4 py-3">{{item.total}}</td>
                        <td class="px-4 py-3">{{item.tax}}</td>
                        <td class="px-4 py-3">{{item.delivered}}</td>

                    </tr>

                }

            </tbody>
        </table>
        
      </div>
      <button [routerLink]="['/']"  class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Back to Home</button>
    </div>
</section>